/**
 * @author Wang, Hui (huiwang@qlike.com)
 * @repo https://github.com/hui-w/game-of-life
 * @licence MIT  
 */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  overflow: hidden;
}

.hand-cursor {
  cursor: pointer;
}

.move-cursor {
  cursor: move;
}

.toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  display: flex;
}

.svg-button {
  width: 32px;
  height: 32px;
  margin: 2px 4px 0 4px;
  padding: 4px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.svg-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
}

.svg-button:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}